{% extends "layout.html" %}
{% block title %}g: MIT's link shortener{% endblock %}
{% block content %}
  <h1>g/</h1>
  <p>g/ (g.mit.edu) is a link shortening service, similar to <a
  href="http://bit.ly">bit.ly</a>, made available to the MIT community (and
  anyone who clicks its links).</p>
  <p>Want to add your own link? Visit <a href="manage">g/manage</a>.
  <p>If you're on campus, you can use <a href="http://g/">g/</a> instead of the
  full URL. This will let you use very short links like <a
  href="http://g/about">g/about</a> instead.</p>
{% endblock %}
